.center1{
    color: rgb(0, 0, 0);
    font-size: 150px;
    font-family: sans-serif;
    text-align:center;
    position: relative;
    top: 50%;
    transform: translateY(-130%);
    transform: translateX(0%);
    
  }

  .center2{
    font-size: 50px;
  text-align:center;
    position: relative;
    top: 50%;
    transform: translateY(-200%);
    transform: translateX(50%);
  }
  .search-box {
    position: absolute;
    top: 50%;
    transform: translateY(%);
    transform: translateX(880%);
  }

  html {
      background-color: rgb(124, 110, 110);
  }                                                                                                                                                                                                                                 ````

}
#input{
  border: none;
  justify-content: stretch;
}

.center{
  display:flex;
  justify-content: center;
}

#top-left-text {
  display:flex;
  justify-content:flex-start;
  align-items:flex-start;

}
