.center1{
    color: rgb(0, 0, 0);
    font-size: 150px;
    font-family: sans-serif;
    text-align:center;
    position: relative;
    top: 50%;
    transform: translateY(100px);
    transform: translateX(0%);

    
  }

  .center2{
    font-size: 50px;
  text-align:center;
    position: relative;
    top: 50%;
    transform: translateY(-200%);
    transform: translateX(50%);
 
  }
  .search-box {
    position: absolute;
    top: 50%;
    transform: translateY(%);
    transform: translateX(880%);
 
  }

  html {
      background-color: rgb(243, 235, 235);
  }           

}
#input{
  border: none;
  justify-content: stretch;
}



.center{
  display:flex;
  justify-content: center;
  transform: translateY(70px);
}

#top-text {
  display:flex;

  align-items:flex-start;

}
#left-text {
  display:flex;
  justify-content: flex-start;
  width:30px;
  
}

#right-text {
  display: flex;
  justify-content: flex-end;
  margin-top: 0px;
  top: 0px;
  transform: translate(-100px);
  
  
}
#sign-in {
  display:flex;
  justify-content: center;
  color:white;
  border: 1px solid blue;
  width:50px;
  transform:translateX(920px);
  transform:translateY(px);
  background-color:blue;
  

}
nav{
  display: flex;
  justify-content: space-between;
}
.bottom-buttons{
  display: flex;
  justify-content: center   ;
  align-items: baseline;
  flex-direction: row-reverse;
  height:fit-content;
  transform:translateY(80px)


}
.bottom {
  display:flex;
  transform:translateY(190px);
  padding-bottom: 250px;
  background-color:rgb(201, 189, 189) ;

}