.center1{
    color: rgb(0, 0, 0);
    font-size: 150px;
    text-align:center;
    position: relative;
    top: 50%;
    transform: translateY(-130%);
    transform: translateX(0%)
  }

  .center2{
    font-size: 50px;
  text-align:center;
    position: relative;
    top: 50%;
    transform: translateY(-200%);
    transform: translateX(50%)
  }
  .search-box {
    position: absolute;
    top: 50%;
    transform: translateY(%);
    transform: translateX(880%)
  }

  html {
      background-color: rgb(124, 110, 110);
  }

#search-bar{
  width:35%;
  display:flex;
  justify-content: space-between;
  border-style: solid;
  padding: 5px;
  background-color: white;
}
#input{
  border: none;
  justify-content: stretch;
}

.center{
  display:flex;
  justify-content: center;
}